<h2>Listing allocations</h2>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Booking</th>
      <th>Taxi</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for alloc <- @allocs do %>
        <tr>
        <td><%= alloc.status %></td>
        <td><%= alloc.booking_id %></td>
        <td><%= alloc.taxi_id %></td>

        <td class="text-right">
            <span><%= link "Accept", to: allocation_accept_path(@conn, :accept, alloc), id: "accept"<>to_string(alloc.id), class: "btn btn-default btn-xs" %></span>
            <span><%= link "Reject", to: allocation_reject_path(@conn, :reject, alloc), id: "reject"<>to_string(alloc.id), class: "btn btn-default btn-xs" %></span>
        </td>
        </tr>
    <% end %>
  </tbody>
</table>

<%# <span><%= link "New user", to: user_path(@conn, :new) %>
<%# </span> %>

