<h2>Listing users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.username %></td>

          <td class="text-right">
            <span><%= link "Show", to: user_path(@conn, :show, user), class: "btn btn-default btn-xs" %></span>
            <span><%= link "Edit", to: user_path(@conn, :edit, user), class: "btn btn-default btn-xs" %></span>
            <span><%= link "Delete", to: user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>

<span><%= link "New user", to: user_path(@conn, :new) %></span>